.countContainer {
  padding: 15rem;
  h3 {
    text-align: center;
    font-size: 2rem;
  }
}

.videoPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;

  .content {
    padding: 5rem 0;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;

    .player {
      margin: 0 auto;
      width: 365px;
      height: 65rem;
      margin-bottom: 5rem;
      position: relative;

      .mobileOptions,
      .playerHeader {
        display: none;
      }
    }

    .products {
      .top {
        height: 10%;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;

        button {
          background: red;
          display: flex;
          align-items: center;

          svg {
            color: white;
            font-size: 2rem;
            margin-left: 1rem;
          }
        }

        svg {
          color: red;
          font-size: 3rem;
          margin-left: 3rem;
        }

        img {
          width: 20rem;
          height: auto;
          font-size: 3rem;
          font-weight: 100;
          margin-left: auto;
          cursor: pointer;
        }
      }

      .productsList {
        height: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
      }

      .moreProducts {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        button {
          display: flex;
          svg {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .countContainer {
    padding: 5rem;
  }

  .videoPage {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;

    .content {
      padding: 2rem 0;
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      flex-direction: column;

      .player {
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-bottom: 5rem;

        .mobileOptions {
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: 17%;
          right: 10px;
          z-index: 999999;

          > div {
            border-radius: 10rem;
            padding: 0.5rem;
            background: white;
            margin-bottom: 1.5rem;
            position: relative;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 5px;
              right: 0px;
              background: red;
              color: white;
              border-radius: 2rem;
              width: 1.5rem;
              height: 1.5rem;
              font-size: 1rem;
            }

            svg {
              font-size: 3rem;
            }
          }
        }

        .playerHeader {
          position: absolute;
          width: 100%;
          top: 0;
          padding: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: black;
          color: white;
          font-size: 2rem;

          .headerIcons,
          .headerMenu {
            display: flex;
            align-items: center;

            img {
              height: 3rem;
            }
          }

          .headerMenu {
            svg {
              margin-right: 1.5rem;
              font-size: 3rem;
            }
          }

          .headerIcons {
            > * {
              margin-left: 1rem;
            }

            button {
              font-size: 1.5rem;
              padding: 0.5rem;
              border: 0;
              background: var(--gray300);
              border-radius: 0.4rem;
            }

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              background: white;
              border-radius: 2rem;
              padding: 0.5rem;

              svg {
                fill: var(--text-color);
              }
            }
          }
        }
      }

      .products {
        display: none;
      }
    }
  }
}
