.productItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .productName,
  .productPrice {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .productImg{
    width: 100%;
    cursor: pointer;
  }

  .productSKU {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: lightcoral;
    margin-bottom: 1rem;
  }

  .productPrice {
    margin-top: auto;
    padding-top: 1.5rem;
  }

  .productSize,
  .productColor {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--gray600);
    font-weight: 100;
    line-height: 2.5rem;
    display: flex;
    flex-wrap: wrap;

    p {
      width: fit-content;
    }
  }

  .productSize p {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .productColor p {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 2px solid;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  button {
    margin-top: 1rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;

    svg {
      margin-right: 1rem;
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .productItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .productName,
    .productPrice {
      width: 100%;
      margin: 1rem 0;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text-color);
    }

    .productSize,
    .productColor {
      font-size: 1.6rem;
      color: var(--gray600);
      font-weight: 100;
      line-height: 2.5rem;
    }

    .productPrice {
      margin-top: auto;
      padding-top: 1.5rem;
    }

    button {
      margin-top: 1rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      color: white;

      svg {
        margin-right: 1rem;
        font-size: 4rem;
      }
    }
  }
}
