.homePage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  .content {
    width: 100%;
    max-width: var(--max-width);
    .noProducts {
      font-size: 1.8rem;
    }
    .loadingWarning {
      background: var(--text-color);
      width: fit-content;
      color: white;
      padding: 1rem 5rem;
      font-size: 1.8rem;
      font-family: "ArikBold";
      margin: 3rem auto;
      border-radius: 0.4rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .homePage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem 1.5rem;

    .content {
      width: 100%;
      max-width: var(--max-width);
    }
  }
}
