.menuModal {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .menuModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    z-index: 20;

    .content {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      background: white;
      overflow-y: scroll;
      padding: 1.5rem;

      svg {
        font-size: 2rem;
        margin-left: auto;
      }

      li {
        list-style: none;
        width: fit-content;
        height: auto;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background: black;
          color: white;
          border-radius: 0.4rem;
        }
      }
    }
  }
}
