.cartModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  z-index: 20;

  .content {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background: white;
    overflow-y: scroll;

    .top {
      position: relative;
      background: var(--text-color);
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      color: white;
      font-size: 1.6rem;

      p {
        width: 100%;
        text-align: center;
      }

      .cartCloseModal {
        position: absolute;
        left: 2rem;
        cursor: pointer;
        font-size: 2rem;
      }
    }

    .cart {
      padding: 3rem;
      display: flex;
      flex-direction: column;

      .cartProduct {
        display: grid;
        grid-template-columns: 13% 1fr 5%;
        gap: 1rem;

        .image {
          width: 100%;
          height: auto;
          border-radius: 0.8rem;
          margin-right: 1rem;

          img {
            width: 100%;
            //height: 16rem;
            object-fit: cover;
            object-position: top;
          }
        }

        .info {
          .productName,
          .productPrice,
		  .productQuantity,
		  .productColor,
		  .productSize{
            width: 100%;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--text-color);
          }

          /*.productSize,
          .productColor,
          .productQuantity {
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            color: var(--gray600);
            font-weight: 100;

            span {
              font-weight: 600;
              color: var(--text-color);
            }
          }*/

          /*.productSize {
            border-collapse: collapse; 
            width: 100%;
            td,
            th {
              text-align: center;
              border: 1px solid #d3d3d3;
              padding: 5px;
            }

            tr:last-of-type {
              font-weight: 600;
            }
          }*/
        }

        svg {
          font-size: 2rem;
          cursor: pointer;
          margin-left: auto;
        }
      }

      .line {
        margin: 1rem 0;
        border-top: 2px solid var(--text-color);
      }

      .subtotal {
        font-size: 2rem;
        text-align: center;
        font-weight: 100;
        color: var(--gray800);
        span {
          color: var(--text-color);
          font-weight: 600;
        }
      }

      .actionButton {
        background: white;
        color: var(--text-color);
        font-weight: 600;
        border: 1px solid var(--text-color);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cartModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 20;

    .content {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 100%;
      overflow-y: scroll;

      .top {
        position: relative;
        background: var(--text-color);
        display: flex;
        padding: 1rem 2rem;
        color: white;
        font-size: 1.6rem;

        p {
          width: 100%;
          text-align: center;
        }

        span {
          position: absolute;
          left: 2rem;
          cursor: pointer;
        }
      }

      .cart {
        padding: 3rem 1.5rem;
        display: flex;
        flex-direction: column;

        .cartProduct {
          .image {
            width: 100%;
            border-radius: 0.8rem;
          }

          .info {
            .productName,
			.productPrice,
			.productQuantity,
			.productColor,
			.productSize {
              //margin-bottom: 0.5rem;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 100;
              color: var(--text-color);
            }

            /*.productSize,
            .productColor,
            .productQuantity {
              margin: 0;
              margin-bottom: 0.5rem;
              font-size: 1.4rem;
              color: var(--text-color);
              font-weight: 100;

              span {
                font-weight: 600;
                color: var(--text-color);
              }
            }*/
          }

          svg {
            font-size: 2rem;
            margin-left: auto;
            cursor: pointer;
          }
        }

        .line {
          margin: 1rem 0;
          border-top: 2px solid var(--text-color);
        }

        .subtotal {
          font-size: 2rem;
          text-align: center;
          font-weight: 100;
          color: var(--text-color);
          span {
            color: var(--text-color);
            font-weight: 600;
          }
        }

        .actionButton {
          padding: 1rem;
          background: white;
          color: var(--text-color);
          font-weight: 100;
          border: 1px solid var(--text-color);
        }
      }
    }
  }
}
