.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.3);
  .content {
    width: 80%;
    height: 100%;
    background: white;
    padding: 20px;
    position: relative;

    .closeMobileMenuButton {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 15px;
      top: 15px;
    }

    .mobileMenu {
      p {
        display: flex;
        align-items: center;
        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
