.banner-slider {
  width: 100%;
  height: 780px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
}

.banner-slider:hover {
  .nextSlide,
  .prevSlide {
    display: flex;
    fill: var(--theme-color);
    width: 5%;
    height: 5%;
    z-index: 0;
  }
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  overflow: hidden;

  .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

%btn-slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2%;
  height: 100%;
  display: none;
  transition: scale 2s ease;
  cursor: pointer;
  margin: 0 10px;
}

.prevSlide {
  left: 0;
  @extend %btn-slides;
}

.nextSlide {
  right: 0;
  @extend %btn-slides;
}

.sliderDesk {
  display: none;
}

.indicator {
  position: absolute;
  bottom: 200px;
  width: 100%;
  pointer-events: none;

  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    span {
      font-size: 12px;
      font-weight: 100;
      color: transparent;
      padding: 10px 0;
      transition: all 0.35s ease;

      &.select {
        color: var(--theme-color);
      }
    }

    #marker {
      position: absolute;
      top: 0;
      width: 3px;
      height: 0;
      background: var(--theme-color);
      left: 50px;
      transition: all 0.5s ease;
      border-radius: 20px;
      z-index: 2;
    }
    #marker-background {
      position: absolute;
      width: 3px;
      height: 100%;
      background: white;
      left: 50px;
      z-index: 1;
      border-radius: 20px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .sliderMobile {
    display: none;
  }

  .sliderDesk {
    display: flex;
    height: 540px;
  }

  .prevSlide,
  .nextSlide {
    width: 5%;
  }

  .indicator {
    display: none;
  }
}
