.storeLiveItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .storeImage {
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: 0.4rem;
    background: var(--gray300);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    span {
      position: absolute;
      background: white;
      padding: 1rem 2rem;
      bottom: 1rem;
      left: 1rem;
      border-radius: 0.7rem;
      font-weight: 500;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
      background: rgba(0, 0, 0, 0.3);

      p.date {
        width: 80%;
        font-size: 1.6rem;
        border-bottom: 1px solid white;
        margin: 0.4rem 0;
        padding-bottom: 0.5rem;
        font-weight: 400;
      }

      .description {
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: none;
      }
    }
  }

  .storeName {
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--gray600);
    display: flex;
    justify-content: space-between;

    svg {
      color: red;
      font-size: 2rem;
    }
  }

  .storeDescription {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
  }
}

@media only screen and (max-width: 1024px) {
  .storeLiveItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .storeImage {
      position: relative;
      width: 100%;
      height: 25rem;
      border-radius: 0.4rem;
      background: var(--gray300);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

      span {
        width: 100%;
        position: absolute;
        background: white;
        padding: 1rem 2rem;
        bottom: 0rem;
        left: 0rem;
        border-radius: 0rem;
        font-weight: 500;
      }

      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        color: white;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        background: rgba(0, 0, 0, 0.3);

        p.date {
          width: 80%;
          font-size: 1rem;
          border-bottom: 1px solid white;
          margin: 0.4rem 0;
          padding-bottom: 0.5rem;
          font-weight: 400;
        }

        .description {
          font-weight: 400;
          font-size: 1rem;
          text-transform: none;
        }
      }
    }

    .storeName {
      width: 100%;
      margin: 0.5rem 0;
      font-size: 1.2rem;
      color: var(--gray600);
      flex-direction: column;
      text-align: left;
      span {
        margin: 0.5rem 0;
      }

      svg {
        color: red;
        font-size: 2rem;
      }
    }

    .storeDescription {
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--text-color);
    }
  }
}
